<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DtmfDetection" version="1.2.2" />
  <package id="DtmfDetection.NAudio" version="1.2.2" manuallyInstalled="true" />
  <package id="MemoryPack" version="1.21.3" manuallyInstalled="true" />
  <package id="MemoryPack.AspNetCoreMvcFormatter" version="1.21.3" manuallyInstalled="true" />
  <package id="MemoryPack.Core" version="1.21.3" />
  <package id="MemoryPack.Generator" version="1.21.3" />
  <package id="MemoryPack.Streaming" version="1.21.3" manuallyInstalled="true" />
  <package id="MemoryPack.UnityShims" version="1.21.3" manuallyInstalled="true" />
  <package id="Microsoft.Win32.Registry" version="4.7.0" />
  <package id="NAudio" version="2.2.1" manuallyInstalled="true" />
  <package id="NAudio.Asio" version="2.2.1" manuallyInstalled="true" />
  <package id="NAudio.Core" version="2.2.1" manuallyInstalled="true" />
  <package id="NAudio.Flac" version="1.0.5702.29018" manuallyInstalled="true" />
  <package id="NAudio.Lame" version="2.1.0" manuallyInstalled="true" />
  <package id="NAudio.Midi" version="2.2.1" manuallyInstalled="true" />
  <package id="NAudio.Vorbis" version="1.5.0" manuallyInstalled="true" />
  <package id="NAudio.Wasapi" version="2.2.1" manuallyInstalled="true" />
  <package id="NAudio.WinMM" version="2.2.1" manuallyInstalled="true" />
  <package id="NAudio.Wma" version="1.0.1" manuallyInstalled="true" />
  <package id="NVorbis" version="0.10.4" />
  <package id="System.Collections.Immutable" version="6.0.0" />
  <package id="System.IO.Pipelines" version="6.0.3" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Security.AccessControl" version="4.7.0" />
  <package id="System.Security.Principal.Windows" version="4.7.0" />
</packages>